body {
    margin: 50px 0;
  }
  
  .search-bar {
    margin: 30px 0;
  }
  
  .shows-wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  .card{
    height: 520px;
  }
  .shows-wrapper .card {
    width: 24%;
    margin-bottom: 1.5%;
    margin-left: 10px;
  }
  
  .show-preview {
    position: fixed;
    left: 50%;
    top: 5%;
    display: none;
    width: 90%;
    max-width: 1100px;
    height: 90%;
    background: white;
    transform: translate(-50%, 0);
    z-index: 1;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  }
  
  .show-preview .card {
    height: 100%;
  }
  
  .card-preview-bg {
    width: 100%;
    height: 45%;
    background-position: center;
    background-size: cover;
  }
  .dropdown {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #keyWordsForm {
    display: flex;
    flex-direction: row;
  }
  #keyWordsForm > button {
    margin-left: 20px;
  }
  .favourite_btn {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
  }
  .favorite_icon {
      width: 35px;
  }
  .btn__close {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #f00;
    border-color: #f00;
  }.btn__close:hover {
    background-color: rgb(146, 0, 0);
    border-color: rgb(146, 0, 0);
  }.btn-show {
    position: absolute;
    left: 20px;
    bottom: 15px;
  }.hidden {
    display: none !important;
  }.img{
    width: 210px;
    height: 295px;
  }.div-nav{
    display: flex;
    align-items: flex-start;
  }